body {
    background-color: black;
    align-items: center;
    margin: 0%;
    -webkit-tap-highlight-color: transparent;
    font-family: 'Bubbler One';
    font-size: 24px;
}

.header_container {
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    height: 93%;
    text-align: center;
}

.header_container p {
    position: sticky;
    top: 70%;
    font-style: italic;
    color: white;
}

#title {
    z-index: 1;
    font-style: unset;
    top: 10%;
    position: relative;
}

#projects {
    min-height: 300px;
}

#quote {
    color: white;
    font-family: 'Bubbler One';
    font-size: 130%;
}

#photoofme {
    border-radius: 50%;
    width: 30%;
    max-width: 250px;
    margin: 0;
    float: none;
}

#aboutme {
    overflow: visible;
    background-color: transparent;
    height: auto;
    max-height: none
}

#aboutBlock {
    color: white;
}

.aboutBox {
    position: relative;
    background-color: darkgray;
    opacity: 80%;
    width: 100%;
    height: auto;
    color: black;
    text-align: center;
}

.contentBox {
    font-size: 19px;
    font-family: 'Sen', sans-serif;
    max-width: 800px;
    display: inline-block
}

.aboutBox h1 {
    color: white;
    background-image: linear-gradient(transparent, rgb(255, 0, 0, 0.5), transparent);
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 5%;
}

.contentBox h3 {
    position: relative;
    left: -350px;
    margin: 0;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 0;
}

.contentBox p {
    margin: 0;
    max-width: inherit;
    text-align: justify
}

.contentBox ul {
    text-align: justify
}

.itemBox .header {
    height: 40px;
}

.itemBox .year {
    position: relative;
    text-align: end;
    top: -40;
}

.backgroundimg {
    background-image: url("images/header.jfif");
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    z-index: -2;
    position: sticky;
    top: 0;
    height: 93%;
}

.menu_container {
    z-index: 1;
    position: sticky;
    top: 4%;
    width: 100%;
    height: 7%;
    text-align: center;
    pointer-events: none;
}

.menubtn {
    z-index: 1;
    width: 10%;
    height: 100%;
    background-image: url("images/3dot.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    cursor: pointer;
    left: 0%;
    pointer-events: all;
}

.menu {
    background-color: rgb(255, 0, 0, 0.3);
    position: relative;
    padding-left: 10%;
    left: 0%;
    height: 100%;
    max-height: auto;
    text-align: center;
    pointer-events: none;
}

.item {
    color: white;
    display: inline-block;
    position: relative;
    top: 0%;
    background-color: transparent;
    border: 0;
    border-radius: 10%;
    margin-left: 0px;
    margin-right: 50px;
    margin-top: 0.25%;
    height: 100%;
    width: auto;
    text-align: center;
    font-family: 'Bubbler One';
    font-style: oblique;
    font-weight: bolder;
    font-size: 7vmin;
    pointer-events: all;
}

.item:hover {
    box-shadow: 0 5px 15px black;
    transform: scale(1.01, 1.01);
}

.main_container {
    background-color: rgb(56, 50, 50);
    width: 100%;
    height: auto;
    opacity: 95%;
    text-align: center;
    text-align: center;
}

.pageBlock {
    background-color: rgb(56, 50, 50);
    width: 100%;
    min-height: 50%;
    height: auto;
}

.blockOptions {
    background-color: rgb(255, 0, 0, 0.5);
    z-index: 1;
    position: sticky;
    top: 11%;
    width: 90%;
    opacity: 50%;
    min-height: 5%;
}

.blockOptionsbtn {
    color: white;
    position: relative;
    height: 100%;
    font-weight: bold;
    background-color: transparent;
    border-radius: 20%;
    margin-left: 5%;
    cursor: pointer;
    font-size: 150%;
}

.blockOptionsbtn:hover {
    box-shadow: 0 5px 15px black;
    transform: scale(1.01, 1.01);
}

#projectItems {
    width: 90%;
    display: grid;
    grid-template-areas: 'postBox postBox postBox postBox postBox';
    padding-bottom: 10px;
}

.postBox {
    background-color: rgb(255, 0, 0, 0.5);
    box-shadow: white;
    border-radius: 5%;
    opacity: 80%;
    min-width: 100px;
    max-width: 150px;
    min-height: 200px;
    height: 10%;
    color: black;
    margin: 10px;
}

.postBox .title {
    position: relative;
    top: 0;
    width: 100%;
    font-size: 15px;
    max-height: 20%;
    font-weight: bolder;
}

.postBox .content {
    position: relative;
    width: 100%;
    height: 70%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.postBox:hover {
    opacity: 100%;
    transition-duration: 0.5s;
    transform: scaleY(1.05);
}

.postBox .btnView {
    position: relative;
    background-color: white;
    top: 5%;
    width: 100%;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
    cursor: pointer;
    font-family: Arial;
    font-size: 20px;
}

.postBox .btnView:hover {
    background-color: rgb(255, 0, 0, 0.5);
    transform: scale(1.01);
}

.arrow {
    position: absolute;
    left: 50%;
    top: 90%;
    transform: translate(-50%, -50%);
}

.arrow span {
    display: block;
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
    border-bottom: 5px solid;
    border-right: 5px solid;
    border-color: red;
    animation: arrow 2s infinite;
}

.arrow span:nth-child(2) {
    animation-delay: -0.2;
}

.arrow span:nth-child(3) {
    animation-delay: -0.4;
}

@keyframes arrow {
    00% {
        opacity: 0;
        transform: rotate(45deg) translate(-5%, -5%);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: rotate(45deg) translate(120%, 120%);
    }
}

.blackbox {
    position: absolute;
    background-color: black;
    top: 0%;
    width: 100%;
    height: 93%;
}

.fakeBackground {
    position: absolute;
    top: 100%;
    opacity: 5%;
    background-image: url(images/repeater.jpg);
    background-repeat: repeat;
    width: 100%;
    height: auto;
}

.headerpic {
    width: 100%;
    object-fit: fill;
    margin-left: 30%;
    overflow: hidden;
    position: relative;
    border-color: transparent;
    float: left;
}

.headerBlock {
    color: white;
    background-color: transparent;
    position: relative;
    width: 100%;
    height: 15%;
    min-height: 100px;
}

.hTitle {
    height: 10%;
    font-size: 50px;
    margin-left: 5%
}

.headerblock p {
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 5%;
    font-weight: bold;
}

.overlay {
    z-index: 10;
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 25, 0.342);
    width: 100%;
    height: 100%;
}

.overlay .window {
    position: absolute;
    z-index: 10;
    top: 5%;
    margin-left: 15%;
    margin-right: 15%;
    border-radius: 1%;
    background-color: lightgray;
    width: 70%;
    height: 90%;
    overflow: scroll;
    resize: horizontal;
}

.window .popHeader {
    text-align: center;
    position: relative;
    width: 100%;
    height: auto;
    background-color: darkslategray;
    font-size: 4vw;
    font-family: Arial;
    padding-top: 2%;
    padding-bottom: 2%;
}

.popHeader h1 {
    font-size: 120%;
    margin: 0;
}

.window .popContent {
    height: auto;
    width: auto;
    font-size: 50%;
    background-color: lightgray;
    padding: 20px;
}

.window .close {
    position: fixed;
    top: 2%;
    right: 12%;
    background-color: transparent;
    width: auto;
    height: auto;
    color: red;
    font-family: Arial;
    font-weight: bolder;
    font-size: 30px;
    cursor: pointer;
}

.close:hover {
    font-size: 130%;
    transform: scale(1.01, 1.01);
}

.footer {
    z-index: 1;
    width: 100%;
    height: 50px;
    background-color: white;
    text-align: center;
}

.footer .socialIcon {
    cursor: pointer;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: inline-block;
    width: 50px;
    height: 45px;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 2px;
    border-radius: 50%;
}

.socialIcon a {
    display: block;
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.footer .socialIcon:hover {
    transform: scale(1.05)
}

.footer .attribution {
    background-color: white;
    top: -20px;
    position: relative;
    font-size: 10px;
    width: 260px;
    font-family: Arial;
    margin-left: -15px;
}

.graphPanel {
    width: 100%;
    height: auto;
    text-align: center;
}

.graphPanel .skillGraph {
    background-color: white;
    width: 60%;
    height: 15px;
    margin-left: 20%;
    margin-top: 2px;
    border-radius: 5%;
}

.graphPanel p {
    text-align: center;
    margin-top: 5px;
    padding: 0;
}

.skillGraph .fill {
    height: 100%;
    background-color: rgb(255, 0, 0, 0.9);
    margin: 0;
    padding: 0;
}

.blankdiv {
    height: 50px;
    width: 100%;
    background-color: transparent;
}

.miniTitle {
    padding: 15px;
    position: absolute;
    right: 10%;
    color: white;
}

.pageBlock .minimizer {
    z-index: 1;
    width: 50px;
    height: 60px;
    position: absolute;
    right: 2%;
    cursor: pointer;
    background-image: url(images/arrowdownRED.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.minimizer:hover {
    transform: scale(1.05);
}

.loadingScreen {
    z-index: 15;
    width: 100%;
    height: 100%;
    background-color: lightgray;
    position: fixed;
    top: 0;
    text-align: center;
}

.loadingScreen .animationBox {
    position: absolute;
    top: 50%;
    width: 100%;
    background-image: url("images/loading.gif");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 200px;
}

.codeBlock {
    background-color: black;
    color: white;
    overflow: scroll;
    width: 90%;
    height: auto;
    max-height: 700px;
    margin-left: 80px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.scrollTop {
    z-index: 5;
    width: 50px;
    height: 50px;
    background-color: transparent;
    background-image: url(images/arrowdownRED.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: fixed;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
    transform: rotate(180deg);
    opacity: 70%;
}

.scrollTop:hover {
    opacity: 100%;
    transform: rotate(180deg);
}

#inqueries {
    display: grid;
    justify-content: center;
}

.qrBox {
    position: absolute;
    left: 80%;
    width: 15%;
    height: 15%;
    border-color: rgb(255, 0, 0, 0.5);
    border-style: solid;
    text-align: center;
}

.contactQR {
    width: 100%;
    height: 100%;
    background-image: url("images/frameRED.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.contactQR a {
    display: block;
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.qrBox p {
    font-family: Arial;
    font-weight: bolder;
    font-variant: small-caps;
    font-size: 20px;
    background-color: rgb(255, 0, 0, 0.5);
    color: white;
    padding: 5px;
    border-radius: 5%;
    text-align: center;
    width: 100%;
    position: relative;
    left: -5px;
}

.itemBox input {
    width: 100%;
    height: 30px;
    min-width: 400px;
    font-family: Arial;
    font-size: 19px;
}

.itemBox textarea {
    width: 100%;
    min-width: 400px;
    height: 200px;
    font-family: Arial;
    font-size: 19px;
}

.itemBox .sbmBtn {
    width: 100%;
    min-width: 400px;
    cursor: pointer;
    color: white;
    font-weight: bolder;
    background-color: rgb(255, 0, 0, 0.5);
    border-radius: 5%;
    opacity: 90%;
}

.itemBox .sbmBtn:hover {
    opacity: 100%;
    transform: scale(1.05)
}

.expandORmin {
    z-index: 2;
    width: 200px;
    height: 30px;
    position: sticky;
    top: 1%;
    left: 100%;
}

.exminbtn {
    float: left;
    color: white;
    background-color: rgb(255, 0, 0, 0.5);
    width: 50%;
    height: 30px;
    font-size: 20px;
    font-weight: bolder;
    cursor: pointer;
    opacity: 50%;
}

.exminbtn:hover {
    transform: scale(1.05);
    opacity: 100%;
}

.door {
    z-index: 2;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    pointer-events: none;
}

#left {
    background-position: right;
    left: 0;
}

#right {
    background-position: left;
    right: 0;
}

.slideShow {
    z-index: 1;
    width: 100%;
    height: 30%;
    position: absolute;
    top: 0%;
    overflow: hidden;
}

.slideShow .imagCont {
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.gearBox {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    opacity: 30%;
}

.gear {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    pointer-events: all;
}

#gearR1 {
    background-image: url(images/gears/gear2.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 200px;
    height: 250px;
    animation: gear 6s infinite linear;
    position: absolute;
    left: 75px;
    top: 4.5%;
}

#gearL1 {
    background-image: url(images/gears/gear2.png);
    width: 200px;
    height: 250px;
    animation: gear 6s infinite linear;
    position: absolute;
    left: 75px;
    top: 4.5%;
}

#gearR2 {
    background-image: url(images/gears/gear2.png);
    width: 100px;
    height: 100px;
    animation: gear2 4s infinite linear;
    position: absolute;
    left: 60px;
    top: 1%;
}

#gearL2 {
    background-image: url(images/gears/gear2.png);
    width: 100px;
    height: 100px;
    animation: gear2 4s infinite linear;
    position: absolute;
    left: 60px;
    top: 1%;
}

#gearR3 {
    background-image: url(images/gears/gear3.png);
    width: 50px;
    height: 50px;
    animation: gear 1s infinite linear;
    position: absolute;
    left: 20px;
    top: 4%;
}

#gearL3 {
    background-image: url(images/gears/gear3.png);
    width: 50px;
    height: 50px;
    animation: gear 1s infinite linear;
    position: absolute;
    left: 20px;
    top: 4%;
}

#gearR4 {
    background-image: url(images/gears/gear4.png);
    animation: gear2 6s infinite linear;
    width: 250px;
    height: 250px;
    position: absolute;
    left: 0px;
    top: 25%;
}

#gearL4 {
    background-image: url(images/gears/gear4.png);
    animation: gear2 6s infinite linear;
    width: 250px;
    height: 250px;
    position: absolute;
    left: 0px;
    top: 25%;
}

#gearR5 {
    background-image: url(images/gears/gear5.png);
    width: 170px;
    height: 170px;
    position: absolute;
    left: 110px;
    top: 48%;
    animation: gear 4s infinite linear;
}

#gearL5 {
    background-image: url(images/gears/gear5.png);
    width: 170px;
    height: 170px;
    position: absolute;
    left: 110px;
    top: 48%;
    animation: gear 4s infinite linear;
}

#gearR6 {
    background-image: url(images/gears/gear6.png);
    width: 250px;
    height: 250px;
    position: absolute;
    left: 0px;
    top: 62%;
    animation: gear2 7s infinite linear;
}

#gearL6 {
    background-image: url(images/gears/gear6.png);
    width: 250px;
    height: 250px;
    position: absolute;
    left: 0px;
    top: 62%;
    animation: gear2 7s infinite linear;
}

#gearR7 {
    background-image: url(images/gears/gear7.png);
    width: 250px;
    height: 250px;
    position: absolute;
    left: 150px;
    top: 80%;
    animation: gear 4.5s infinite linear;
}

#gearL7 {
    background-image: url(images/gears/gear7.png);
    width: 250px;
    height: 250px;
    position: absolute;
    left: 150px;
    top: 80%;
    animation: gear 4.5s infinite linear;
}

@keyframes gear {
    00% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes gear2 {
    00% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}